<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <kodano_promotions>
            <api>
                <enable>1</enable>
                <debug_log>1</debug_log>
            </api>
        </kodano_promotions>
    </default>
</config>
